.header-container__sh {
    position: absolute;
    top: 0;
    width: 100%;
}

.body-cotainer__sh {
    margin-top: 73px;
    margin-bottom: 30px;
}

.footer-container__sh {
    position: absolute;
    bottom: 0;
    width: 100%
}